# ビルド出力
.next/
out/
dist/
build/

# 依存関係
node_modules/

# パッケージロックファイル
package-lock.json
pnpm-lock.yaml
yarn.lock

# 自動生成ファイル
next-env.d.ts

# ログファイル
*.log

# 環境変数
.env*

# その他
tsconfig.json
.DS_Store
*.tsbuildinfo
.vscode/settings.json
docker-compose.yml
